name: Publish

on:
  push:
    tags:
      - "*"

  workflow_dispatch:

jobs:

  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Create release keystore
        run: |
          echo "${{ secrets.RELEASE_KEYSTORE }}" > release.keystore.asc
          gpg -d --passphrase "${{ secrets.RELEASE_KEYSTORE_PASSPHRASE }}" --batch release.keystore.asc > release.jks

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Assemble Artifact
        run: ./gradlew assembleFreeDynamic

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: apk
          path: lemuroid-app/build/outputs/apk/freeDynamic/release/lemuroid-app-free-dynamic-release.apk

  publish_apk:
    name: Publish APK on Github
    needs: [ build ]
    runs-on: ubuntu-latest

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: apk

      - name: Create pre-release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          title: "Pre-release"
          files: lemuroid-app-free-dynamic-release.apk
